:root {
  --tui-primary-color: #70caf4;
  --tui-background-color: #ffffff;
  --tui-red-color: #d40e14;
  --tui-accent-red-color: #ff494e;
  --tui-darkblue-color: #092a5e;
  --tui-lightblue-color: #e2f3fe;
  --tui-whiteblue-color: #eaf7fe;
  --tui-yellow-color: #fcb712;
  --font-color1: #000000;
  --font-color2: #ffffff;

  --font-size-xl: 4rem;
  --font-size-l: 3rem;
  --font-size-m: 2rem;
  --font-size-s: 1.125rem;
}

@font-face {
  font-family: "Exo2";
  /* Font-naam */
  src: url("/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  /* Bestandslocatie en format */
  font-weight: normal;
  /* Optioneel: gewicht specificeren */
  font-style: normal;
  /* Optioneel: stijl specificeren */
}

@font-face {
  font-family: "Comfortaa";
  /* Font-naam */
  src: url("/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  /* Bestandslocatie en format */
  font-weight: normal;
  /* Optioneel: gewicht specificeren */
  font-style: normal;
  /* Optioneel: stijl specificeren */
}

@font-face {
  font-family: "Jura";
  /* Font-naam */
  src: url("/fonts/Jura-VariableFont_wght.ttf") format("truetype");
  /* Bestandslocatie en format */
  font-weight: normal;
  /* Optioneel: gewicht specificeren */
  font-style: normal;
  /* Optioneel: stijl specificeren */
}

html {
  box-sizing: border-box;
  font-size: 16px;
  /* Standard font size (1rem = 16px) */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Gebruik van het lettertype */
.title {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-xl);
  color: var(--font-color2);
  margin-bottom: 1rem;
  /* 'Exo2' gebruiken met fallback */
}

.title2-1 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-l);
  color: var(--font-color2);
    margin-bottom: 1rem;
}

.title2-2 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-l);
  color: var(--font-color1);
    margin-bottom: 1rem;
}

h3 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-m);
  color: var(--font-color1);
}

.text1 {
  font-family: "Comfortaa", sans-serif;
  font-size: var(--font-size-s);
  color: var(--font-color2);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.text1-contact {
    padding-bottom: 4rem;
}

.text2 {
  font-family: "Comfortaa", sans-serif;
  font-size: var(--font-size-s);
  color: var(--font-color1);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.title_card {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-l);
  color: var(--font-color1);
  margin-bottom: 1rem;

  /* 'Exo2' gebruiken met fallback */
}

.card-title {
    font-size: var(--font-size-m);
  color: var(--font-color1);
  margin-bottom: 1rem;
}



.hero-container {
  background-image: url(/images/heroimg.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 2rem 0; /* 2rem is 32px, equivalent to 2 * 16px */
  margin-bottom: 6.25rem;
}

.overons-container {
  background-image: url(/images/overonsheroimg.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 2rem 0; /* 2rem is 32px, equivalent to 2 * 16px */
}

.bestemming-container {
    background-image: url(/images/bestemmingenheroimg.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 2rem 0; /* 2rem is 32px, equivalent to 2 * 16px */
}

.list-unstyled {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* 1.25rem = 20px */
  padding-left: 0;
}

.intro-container {
  margin-top: 8.75rem; /* 140px omgezet naar rem, 1rem = 16px */
}

.hero-buttons-primary {
  display: inline-block;
  padding: 0.625rem 1.25rem; /* 10px boven/onder en 20px links/rechts */
  margin: 0.625rem 0; /* 10px marge boven en onder de knop */
  background-color: var(--tui-red-color); /* Knop kleur */
  color: white; /* Witte tekst */
  text-align: center;
  text-decoration: none; /* Verwijder de onderlijning */
  border-radius: 0.3rem; /* Ronde hoeken */
  font-size: var(--font-size-s); /* Tekstgrootte */
  transition: background-color 0.3s ease; /* Hover-effect */
    font-family: "Comfortaa", sans-serif;
}

.hero.hero-buttons-primary:hover {
  background-color: var(--tui-accent-red-color); /* Donkerder blauwe kleur bij hover */
}

.hero-buttons-secondary {
  display: inline-block;
  padding: 0.625rem 1.25rem; /* 10px boven/onder en 20px links/rechts */
  margin: 0.625rem 0; /* 10px marge boven en onder de knop */
  border: 2px solid var(--tui-primary-color); /* Knop kleur */
  color: white; /* Witte tekst */
  text-align: center;
  text-decoration: none; /* Verwijder de onderlijning */
  border-radius: 0.3rem; /* Ronde hoeken */
  font-size: var(--font-size-s); /* Tekstgrootte */
  transition: background-color 0.3s ease; /* Hover-effect */
  font-family: "Comfortaa", sans-serif;
}

.hero-buttons-secondary:hover {
  background-color: var(--tui-primary-color); /* Donkerder blauwe kleur bij hover */
}

.nav-link {
  color: var(--font-color2);
  font-family: "Jura", sans-serif;
}

.nav-link:hover {
  color: var(--tui-red-color);
}

.active1 {
  color: var(--tui-red-color);
}

.active2 {
    background-color: var(--tui-accent-red-color);
}

.card {
   border: 0.2rem solid var(--tui-darkblue-color);
   border-radius: 0.65rem;
}

.button {
  display: inline-block;
  padding: 0.625rem 1.25rem; /* 10px boven/onder en 20px links/rechts */
  margin: 0.625rem 0; /* 10px marge boven en onder de knop */
  background-color: var(--tui-red-color); /* Knop kleur */
  color: white; /* Witte tekst */
  text-align: center;
  text-decoration: none; /* Verwijder de onderlijning */
  border-radius: 0.3rem; /* Ronde hoeken */
  font-size: var(--font-size-s); /* Tekstgrootte */
  transition: background-color 0.3s ease; /* Hover-effect */
  font-family: "Comfortaa", sans-serif;
}

.button:hover {
  background-color: var(--tui-accent-red-color); /* Donkerder blauwe kleur bij hover */
}

.card-text {
    font-family: "Comfortaa", sans-serif;
  font-size: var(--font-size-s);
  color: var(--font-color1);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  line-height: 1.5;
}

.card-container {
  margin: 6.25rem;
}

.container-contact {
  background-image: url(/images/contactimg.png);
  background-repeat: no-repeat;
  background-size: cover; /* Zorgt ervoor dat de afbeelding volledig bedekt */
  width: 100%; /* Volledige breedte */
  padding: 2rem 0;
}