/* root met al de vars in voor kleuren en font sizes */
:root {
  --tui-primary-color: #70caf4;
  --tui-background-color: #ffffff;
  --tui-red-color: #d40e14;
  --tui-accent-red-color: #ff494e;
  --tui-darkblue-color: #092a5e;
  --tui-lightblue-color: #e2f3fe;
  --tui-whiteblue-color: #eaf7fe;
  --tui-yellow-color: #fcb712;
  --font-color1: #000000;
  --font-color2: #ffffff;

  --font-size-xl: 4rem;
  --font-size-l: 3rem;
  --font-size-m: 2rem;
  --font-size-s: 1.125rem;
}

/* font family Exo2 */
@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font family Comfortaa */
@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* font family Jura */
@font-face {
  font-family: "Jura";
  src: url("/fonts/Jura-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* h1 titles white color */
.title {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-xl);
  color: var(--font-color2);
  margin-bottom: 1rem;
}

.title1 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-xl);
  color: var(--font-color1);
  margin-bottom: 1rem;
}

/* h2 titles white color */
.title2-1 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-l);
  color: var(--font-color2);
  margin-bottom: 1rem;
}

/* h2 titles black color */
.title2-2 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-l);
  color: var(--font-color1);
  margin-bottom: 1rem;
}

/* h3 titles black color */
.title3-1 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-m);
  color: var(--font-color2);
}

/* h3 titles black color */
.title3-2 {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-m);
  color: var(--font-color1);
}

/* text titles white color */
.text1 {
  font-family: "Comfortaa", sans-serif;
  font-size: var(--font-size-s);
  color: var(--font-color2);
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* text titles black color */
.text2 {
  font-family: "Comfortaa", sans-serif;
  font-size: var(--font-size-s);
  color: var(--font-color1);
  margin-bottom: 1rem;
  line-height: 1.5;
}

/* card titles black color */
.card-title {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-m);
  color: var(--font-color1);
  margin-bottom: 1rem;
}

/* card hero titles black color */
.card-title-hero {
  font-family: "Exo2", sans-serif;
  font-size: var(--font-size-l);
  color: var(--font-color1);
  margin-bottom: 1rem;
}

/* hero home background img */
.hero-container {
  background-image: url(/images/heroimg.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 3rem 3rem 3rem;
  background-size: cover;
}

/* hero overons background img */
.overons-container {
  background-image: url(/images/overonsheroimg.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 3rem 3rem 3rem;
  background-size: cover;
}

/* hero bestemming background img */
.bestemming-container {
  background-image: url(/images/bestemmingenheroimg.png);
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 3rem 3rem 3rem;
  background-size: cover;
}

/* hero contact background img */
.container-contact {
  background-image: url(/images/contactimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 3rem 3rem 3rem 3rem;
}

.list-unstyled {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-left: 0;
}

/* to make it get closer to nav */
.intro-container {
  margin-top: 6.25rem;
}

/* hero button primary intro */
.hero-buttons-primary {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  margin: 0.625rem 0;
  background-color: var(--tui-red-color);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: var(--font-size-s);
  transition: background-color 0.3s ease;
  font-family: "Comfortaa", sans-serif;
}

/* hero button primary hover intro */
.hero.hero-buttons-primary:hover {
  background-color: var(--tui-accent-red-color);
}

/* hero button secondary intro */
.hero-buttons-secondary {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  margin: 0.625rem 0;
  border: 2px solid var(--tui-primary-color);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: var(--font-size-s);
  transition: background-color 0.3s ease;
  font-family: "Comfortaa", sans-serif;
}

/* hero button secondary hover intro */
.hero-buttons-secondary:hover {
  background-color: var(--tui-primary-color);
}

/* nav items text color white */
.nav-link {
  color: var(--font-color2);
  font-family: "Jura", sans-serif;
}
/* nav items text color black */
.nav-link-dark {
  color: var(--font-color1);
}

/* nav items hover text color red */
.nav-link:hover {
  color: var(--tui-red-color);
}

/* nav items active text color red */
.active1 {
  color: var(--tui-red-color);
}

/* nav items active text color red */
.active2 {
  background-color: var(--tui-accent-red-color);
}

/* card bestemmingen border color */
.card {
  border: 0.2rem solid var(--tui-darkblue-color);
  border-radius: 0.65rem;
}

/* primary button */
.button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  margin: 0.625rem 0;
  background-color: var(--tui-red-color);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: var(--font-size-s);
  transition: background-color 0.3s ease;
  font-family: "Comfortaa", sans-serif;
}

/* primary button hover */
.button:hover {
  background-color: var(--tui-accent-red-color);
}

/* text for cards */
.card-text {
  font-family: "Comfortaa", sans-serif;
  font-size: var(--font-size-s);
  color: var(--font-color1);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  list-style: none;
}

/* costum boostrap property */
.my-6-25 {
  margin-bottom: 6.25rem;
}

/* costum boostrap property */
.service-card {
  border: 2px solid var(--tui-primary-color); /* Add your border color here */
  padding: 1rem; /* Padding inside the border */
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

.click-container {
  padding: 0.9375rem; /* Adds space around each collapsible item */
  border-radius: 0.625rem; /* Optional: Rounded corners */
  margin-bottom: 0.625rem; /* Adds spacing between collapsible items */
  background-color: var(--tui-primary-color); /* Light background color */
}

/* CSS for rotating SVG when collapsed */
.rotate-icon {
  transition: transform 0.3s ease;
}

button.collapsed .rotate-icon {
  transform: rotate(45deg);
}

.islandimg {
  border: 2.5px solid var(--tui-darkblue-color);
  border-radius: 1.5rem;
}

/* Verhoog padding voor inputvelden en textarea in rem */
.input-custom {
  padding: 0.75rem 1.25rem; /* Padding voor de invoervelden */
  font-size: 1rem; /* Fontgrootte */
  border: 0.0625rem solid #ccc; /* Randkleur van invoervelden */
  background-color: var(
    --tui-lightblue-color
  ); /* Achtergrondkleur van invoervelden */ /* Tekstkleur */
  border-radius: 0.25rem; /* Afgeronde hoeken */
}

/* Focus effect voor inputvelden */
.input-custom:focus {
  border-color: var(--tui-red-color);
  background-color: var(--tui-lightblue-color); /* Focus randkleur */
  outline: none; /* Verwijder standaard focus outline */
}

/* Zelfde voor textarea */
.textarea-custom {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background-color: var(--tui-lightblue-color);

  border-radius: 0.25rem;
}

/* Focus effect voor textarea */
.textarea-custom:focus {
  border: none;
  outline: none;
}

/* Styling voor de submit button */
.button-custom {
  padding: 0.75rem 2rem; /* Padding voor de knop */
  font-size: 1rem; /* Fontgrootte */
  background-color: var(--tui-red-color); /* Achtergrondkleur */
  color: white; /* Tekstkleur van de knop */
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Hover effect voor de knop */
.button-custom:hover {
  background-color: var(--tui-accent-red-color); /* Hover achtergrondkleur */
}


.footer {
  background-color: var(--tui-primary-color);
}

.social-icon img {
  width: 1.25rem;
}

footer img {
  width: 5rem;
}

footer p {
  font-size: 0.875rem;

}

.small-link {
  font-size: 0.875rem; /* Kleinere tekstgrootte */
  display: inline-flex; /* Houd tekst en afbeelding op één lijn */
  align-items: center; /* Centraal uitlijnen */
}

.small-link .icon-small {
  width: 16px; /* Maak de SVG kleiner */
  height: auto;
  margin-right: 5px; /* Ruimte tussen de afbeelding en de tekst */
}
