:root {
  --primary-color: #ff5733;
  --font-size: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 16px; /* Standard font size (1rem = 16px) */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  align-items: center;
}

.nav-item {
  grid-column-start: 8;
  grid-column-end: span 5;
}

.container-fluid .navbar-brand {
  grid-column-start: 1;
  grid-column-end: span 2;
}

/* Footer Grid */
.footer {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  grid-template-rows: auto;
  padding: 2rem 1rem;
}

.footer-logo {
  grid-column: 1 / 4;
}

.footer-nav-block {
  grid-column: 4 / 6;
}

.footer-nav-block-extra {
  grid-column: 6 / 9;
}

.footer-nav-newsletter {
  grid-column: 9 / 11;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-nav-newsletter label {
  font-size: 1rem;
}

.footer-nav-newsletter input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.footer-nav-newsletter img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.footer-nav-socials {
  grid-column: 11 / 13;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.footer-nav-socials img {
  width: 2.5rem;
  height: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-nav-item {
  list-style: none;
}

.footer-nav-item a {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
}

.footer-nav-item a:hover {
  color: #f00;
}
